<h1 style="text-align: center">Task Selected</h1>

<h2 style="text-align: center"><%= @task.title %></h2>
<h2 style="text-align: center"><%= @task.details %></h2>
<i class="fa-regular fa-circle-check"></i>
<%= link_to "Task List", tasks_path %>
